.container {
    border-color: black;
    display: flex;
    text-align: center;
    background-color: #add8e6;
    margin-top: 5%;
    
  }


  
    .top-right-image {
      margin-top: 3%;
        width: 10%;
      height: 30%;
      position: relative;
    }
    .collegetext {
     
      font-size: x-large;
     
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: blue;
      }
    .text {
      margin-top: 1%;
      line-height: 20%;
      font-size: x-small;
    }
